* {
  user-select: none;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: initial;
}
#homePage {
  height: 30em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
/* #separation {
  border: 1px solid #333;
} */
#intro {
  width: 40%;
  height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#imageDiv {
  width: 45%;
  height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#imageDiv img {
  width: 100%;
  height: auto;
}
#header {
  color: #091133;
  font-size: 1.7em;
  font-weight: 600;
}
#introText {
  color: #6673a5;
  margin-top: 5%;
}
#buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#buttonDiv button {
  width: 10em;
  height: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 3px;
  transition: all 0.3s ease;
}
#buttonDiv button:hover {
  transform: scale(1.05);
}
#buttonDiv #btn-get-started {
  background-color: #111b47;
}
#buttonDiv #btn-learn-more {
  border: 2px solid #111b47;
  background-color: #fff;
  color: #111b47;
}

/* Screens lower than 768px */
@media (max-width: 768px) {
  body{
    overflow-y: initial;
  }
  #homePage {
    height: 50em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #intro {
    width: 100%;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #imageDiv {
    width: 100%;
    height: 40em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #imageDiv img {
    width: 100%;
    height: auto;
  }
  #buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  #buttonDiv button {
    width: 8em;
    height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 3px;
    transition: all 0.3s ease;
  }
}

@media (max-width: 350px) {
  #buttonDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 8em;
  }
}
